---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{page.content | markdownify}}
      <div class="social-share" data-initialized="true" style="display: block !important;">
        <a href="#" class="social-share-icon icon-wechat"></a>
        <a href="#" class="social-share-icon icon-weibo" style="display: inline-block !important;"></a>
        <a href="#" class="social-share-icon icon-qq"></a>
        <a href="#" class="social-share-icon icon-qzone"></a>
        <a href="#" class="social-share-icon icon-douban"></a>
      </div>
      <div class="page-footer">
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
        <div class="return-top">
          <a href="javascript:window.scrollTo(0,0)" >TOP</a>
        </div>
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
